CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com

DRIVE_CLIENT_ID_ANDROID=your-drive-android-web-oauth-client-id.apps.googleusercontent.com
DRIVE_CLIENT_SECRET_ANDROID=your-drive-android-web-oauth-client-secret
DRIVE_CLIENT_ID_IOS=your-drive-ios-oauth-client-id.apps.googleusercontent.com

DRIVE_API_KEY=your-drive-api-key